#feature-metrics input[type='number']::-webkit-outer-spin-button,
#feature-metrics input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#feature-metrics input[type='number'] {
  -moz-appearance: textfield;
}

#feature-metrics .gauge {
  position: relative;
}

#feature-metrics .gauge::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
  pointer-events: none;
}
